<div class="header">
  <a href="/books" class="icon-section">
    <img src="/images/book-icon-blue.png" alt="book-icon" class="book-icon">
    Library
  </a>
  <% if (user) { %>
    <div>
      User: <%= user.first_name %> |
      <a href="/logout">logout</a>
    </div>
  <% } else { %>
    <div>
      <a href="/login">Login</a> |
      <a href="/register">Register</a>
    </div>
  <% } %>
</div>