<div class="header">
  <h1>LOGO</h1>
  <% if (user) { %>
    <div>
      User: <%= user.first_name %> |
      <a href="/logout">logout</a>
    </div>
  <% } else { %>
    <div>
      <a href="/login">Login</a> |
      <a href="/register">Register</a>
    </div>
  <% } %>
</div>