<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="../public/css/books.css">
</head>
<body>
    <div class="header">
        <img src="/public/images/hamburger-menu.png" alt="">
        <h1>LOGO</h1>
        <img src="/public/images/hamburger-menu.png" alt="">
    </div>

    <div class="search-section">
        <h2>Find Your Next Book</h2>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button>Search</button>
        </div>
    </div>

    <div class="filter-section">
        
    </div>

    <div class="books-grid">
        <div class="book">
            <div class="book-cover">
                <img src="https://m.media-amazon.com/images/I/81TLiZrasVL._SL1500_.jpg" alt="">
            </div>
            <h2>asda</h2>
            <p>asddd</p>
        </div>
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
    </div>
</body>
</html>