<!DOCTYPE html>
<html>
  <head>
    <title>Book</title>
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/singleBook.css">
    </head>
  <body>
    <div class="header">
      <div>
          <a href="/logout">logout</a>
      </div>
      <h1>LOGO</h1>
      <img src="/images/hamburger-menu.png" alt="">
    </div>
  
    <div class="book-card">
      <img src="https://m.media-amazon.com/images/I/81TLiZrasVL._SL1500_.jpg" alt="" class="book-cover">
      <div class="book-content">
        <h2><%= book.book_name %></h2>
        <p>by <%= book.author_name %> </p>
        <button class="borrow-button">Borrow</button>
      </div>
    <div>
  </body>
</html>