<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/register-login.css">
    <link rel="stylesheet" href="/css/general.css">
</head>
<body>
    <div class="login-section">
      <h1>Login</h1>
      <form method="POST" action="/login">
        Email: <input type="email" name="email" required><br>
        <button type="submit">Login</button>
      </form>
    </div>
</body>
</html>