.header {
  height: 70px;
  background-color: #1d2d44;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
.header a {
  text-decoration: none;
  color: white;
}
.book-icon {
  width: 3rem;
}
.icon-section {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
}