.book-card {
  background-color: #BFD0D9;
  position: relative;
  display: flex;
  width: 90vw;
  margin: auto;
  max-width: 1000px;
  padding: 20px;
  margin-top: 100px;
  border-radius: 1rem;
  box-shadow: 7px 7px 7px rgba(0,0,0,0.2);
}
.book-cover {
  width: 200px;
  border-radius: 1rem;
}
.book-content {
  padding: 20px;
  line-height: 1.8;
}
.borrow-button {
  background-color: #1d2d44;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;

  position: absolute;
  bottom: 20px;
}